/* This is the start of my css. */

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    margin: 0;
    background-image: linear-gradient(rgba(255,255,255,0.45), rgba(255,255,255,0.45)),
                      url('images/palace1_bg.jpg');
    background-size: cover;
    background-position: center 45%;
    background-repeat: no-repeat;
    background-attachment:fixed;
    
}

/* This is header area. */
header{
    background-color: #e3e2e2;
    color: white;
    padding: 1rem 10px;
}
header span {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    color: #024873;
    font-size: 1.6rem;
    font-weight: 700;
}

/* This is navigation area. */

nav {
    background-color: #2a8797;
}

nav ul {
    max-width: 1100px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
}

nav a {
    display: block;
    padding: .8rem 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #030303;
    font-weight: 700;
    
}

nav li.active a {
    background-color: #7f2f13;
    color: #ffffff
}
nav a:hover {
    color: white;
}


/* This is main stuff here. */

main {
    padding: 1rem 2vw;
    max-width: 1100px;
    margin: 0 auto;
}
.intro {
    overflow: auto;
}

main dd {
    max-width: 900px;
}

main h1{
    color: #b40412;
}

main h2{
    color: #024873;
    margin:0.8rem 0 0.3rem 0;
}

main p{
    color: #333;
    margin-top: .5rem;
    margin-bottom: 0.5rem;
}

main ol{
    padding: 2rem;
    background-color:rgba(169, 197, 203, 0.6); 
    line-height: 125%;
    list-style-type: lower-alpha;

}
main dl dt{
    color: #b40412;
    line-height: 150%;
    font-weight: 700;
    margin-top: 1.5rem;
}
main dl dd{
    color: #024873;
    font-size: .9rem;
    margin-left: 20px;
    margin-top: .3rem;
}

main ul{
    list-style-type: circle;    
}

main ul li {
    line-height: 1;
    margin-bottom: .6rem;
    font-size: .9rem;
}

main address{
    font-style: normal;
    background-color: #a5c0ce;
    padding: .7rem;
    width: 12.5rem;
    border: 2px dashed #ffffff;
    border-radius: .8rem
}

/* wrapped image for index page only */
figure.wrapped {
    width: 45%;
    min-width: 300px;
    margin: 0 0 0 2%;
    float: right;
}

figure.wrapped img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

figure.wrapped figcaption {
    text-align: center;
    font-size: 0.85rem;
    color: #7f2f13;
    margin-top: 0.2rem;
}


/* gallery layout for images */

.gallery {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap; 
}

.gallery figure {
    flex: 1 1 250px; 
    max-width: 300px;
    margin: 0;
    text-align: center;
}

.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block; 
}
.gallery figcaption {
    margin-top: 0.05rem;
    margin-bottom: 0.1rem;
    font-size: 0.85rem;
    color: #7f2f13;  
}

/* This is footer stuff here. */

footer{
    background-color: #eaeaea;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
}